@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --a: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.close {
  display: none;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  background: linear-gradient(to bottom, rgb(53, 53, 53), black);
  width: 75vw;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 78vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}

.right {
  margin: 16px 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34 34 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.spotifyPlaylists h1 {
  padding: 16px;
}

.cardContainer {
  position: relative;
  justify-content: center;
  left: 1rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 60vh;
}

.cardContainer ul{
  display: flex;
  list-style-type: none;
}

#artistName {
  position: relative;
  height: 3rem;
}

.card {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  right: 7.5rem;
  transition: all 0.7s; 
}

.card:hover {
  background-color: rgb(65, 64, 64);
  cursor: pointer;
  --a: 1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

#hading2 {
  position: relative;
  top: 5.8rem;
  height: 3rem;
}

.play {
  width: 35px;
  height: 35px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 12.8rem;
  top: 7.9rem;
  opacity: 0;
  transition: all 1s ease-out;
}

.play img {
  position: absolute;
  height: 2rem;
}

.card:hover .play {
  opacity: 1;
}

.play:hover {
  transform: scale(1.2);
  background-color: #2bb25d;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: rgb(34 34 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  right: 0.6rem;
}

.signupbtn:hover {
  transform: scale(1.2);
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: 0.1;
  font-weight: 700;
}

.loginbtn:hover {
  transform: scale(1.1);
}

/* Playbar and Song Image Styles */
.playbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  background: #000000;
  border-radius: 10px;
  width: 70%;
  padding: 12px;
  min-height: 40px;
}

.songimage {
  margin-right: 10px; /* Space between image and song info */
}

.songimage img {
  width: 50px; /* Set image size */
  height: 50px; /* Set image size */
  border-radius: 5px; /* Rounded corners for the image */
}

.songinfo {
  color: black;
  padding: 0 12px;
  width: 250px;
  font-weight: 800;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.songbuttons img{
 background: white;
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songtime {
  width: 125px;
  color: black;
  padding: 0 12px;
  font-weight: 800;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.range input {
  cursor: pointer;
}

.seekbar {
  height: 4px;
  width: 98%;
  background: black;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  margin: 6px;
  cursor: pointer;
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 5px;
  left: 0%;
  transition: left 0.5s;
}

.songbuttons img {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.songList {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.songList ul {
  padding: 0 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid rgba(146, 143, 143, 0.491);
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
}

.songList .info {
  font-size: 13px;
  width: 344px;
}

.info div {
  word-break: break-all;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -130%;
    transition: all 0.3s;
    z-index: 7;
    width: 373px;
    background-color: black;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .songinfo,
  .songtime {
    width: auto;
  }

   .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .right {
    width: 100vw;
  }

  .playbar {
    width: calc(100vw - 75px);
  }

  .seekbar {
    width: calc(100vw - 120px);
  }

  .hamburger {
    display: block;
  }

  .header {
    width: 100vw;
  }

  .right {
    margin: 0;
  }

  .card {
    width: 100vh;
    gap: 2rem;
    right: 0;
    position: relative;
    right: 0.9rem;
  }

  .cardContainer {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
    position: relative;
    left: 0;
    overflow: hidden;
  }

  .header > * {
    padding: 2px;
  }

  .buttons > * {
    margin: 0 6px;
  }

  .header {
    padding: 7px;
  }

  .spotifyPlaylists h1 {
    padding: 4px;
  }

  .header {
    width: 100%;
  }

  .cardContainer {
    position: absolute;
    /* right: 1.2rem; */
  }

  .library {
    height: 85vh;
  }

  .left {
    width: 100vw;
  }

  .playbar {
    display: flex;
    width: 86%;
    height: 7rem;
  }

  .songinfo{
    position: absolute;
    bottom: 3.5rem;
    left: 7rem;
  }

  .songbuttons{
    position: absolute;
    left: 7rem;
    top: 1rem;

  }

  .songtime{
    position: absolute;
    right: 0;
    bottom: 1.8rem;
  }

  .volume{
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
  }


}

@media (max-width: 768px) {
  .songList {
    height: 300px;
  }
}

